<!DOCTYPE html>
<html>

<head>
  <center><h1> Red Cross x Key Club Data Visualization</h1></center>
</head>

<br>
<br>

<body>
<center>
  <h3> ok this looks hella ugly rn but !!! </h3>

  <svg id = "first" height="500" width="700" style="border: 1px solid;" xmlns="http://www.w3.org/2000/svg">


  <foreignObject id="pieChart"></forignObject>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.7.2/d3.min.js"></script>
  <script src="../static/d3pie.min.js"></script>
  <script src="../static/rc-pie.js"></script>
  <!--

  <foreignObject id="pieChart"></foreignObject>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.7.2/d3.min.js"></script>
  <script src="../static/d3pie.min.js"></script>
  <script>
  var pie = new d3pie("pieChart", {"header":{"title":{"text":"Key Club","fontSize":22,"font":"helvetica"},"subtitle":{"color":"#999999","fontSize":10,"font":"verdana"},"titleSubtitlePadding":12},"footer":{"color":"#999999","fontSize":11,"font":"open sans","location":"bottom-center"},"size":{"canvasHeight":400,"canvasWidth":700,"pieInnerRadius":"44%","pieOuterRadius":"79%"},"data":{"content":[{"label":"Seniors","value":6000,"color":"#004b7c"},{"label":"Juniors","value":5000,"color":"#289ab8"},{"label":"Sophomores","value":4000,"color":"#2e70c9"},{"label":"Freshmen","value":3000,"color":"#77c1dd"}]},"labels":{"outer":{"pieDistance":19},"inner":{"format":"value"},"mainLabel":{"font":"verdana"},"percentage":{"color":"#e1e1e1","font":"verdana","decimalPlaces":0},"value":{"color":"#e1e1e1","font":"verdana"},"lines":{"enabled":true,"style":"straight"},"truncation":{"enabled":true}},"effects":{"pullOutSegmentOnClick":{"effect":"none","speed":400,"size":8}},"callbacks":{}});
  </script>
-->

  </svg>

  <br>second graph (elina)<br>
	<div id="chart" id="second">
	</div>

	<script src="https://d3js.org/d3.v4.min.js"></script>
	<script src="../static/rc-hours.js"></script>
	
  <br>third graph (jason)<br>
  <svg id = "third" height="400" width="700" style="border: 1px solid;" xmlns="http://www.w3.org/2000/svg">



  </svg>

  <br>fourth graph (harry)<br>
  <svg id = "fourth" height="400" width="700" style="border: 1px solid;" xmlns="http://www.w3.org/2000/svg"> 


  </svg>


</center>
<script src = "../static/svg.js"></script>
</body>

</html>


